안녕하세요.<br><br>
수강생 여러분~! 

"Challenge : Chapter05 ~ 08 문제풀기"는 잘 풀어보셨나요?


너~~무 어려웠어요! 하는 분들을 위해 만들어봤습니다!

문제 도장깨기 !!!!!

차근차근 풀어나가면 파이썬 정복 가능입니다!

화이팅 !


Chapter05~08의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>

[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>
<br>

-----

<br>

__[문제1]__


a와 b라는 변수를 각각 10과 20으로 초기화하고, 두 변수를 더한 값을 출력해보세요.


<br>

In [1]:
a= 10
b= 20

result = a + b
print("두변수의 합 :",result)

두변수의 합 : 30

<br>

__[문제2]__


변수 num1에 15, num2에 4를 할당하고, 두 변수를 더한 값, 뺀 값, 곱한 값, 나눈 값을 각각 출력하세요.



<br>

In [8]:
num1 = 15
num2 =4

print("더한값:",num1 + num2)
print("뺀값:" , num1 - num2)
print("곱한값:", num1 * num2)
print("나눈값:", num1 / num2)

더한값: 19
뺀값: 11
곱한값: 60
나눈값: 3.75

<br>

__[문제3]__

변수 x에 5를 할당하고, 변수 y에 3을 할당한 후, x가 y보다 크거나 같은지 비교해서 bool타입으로 출력해주세요.

In [9]:
x= 5
y= 3

print(x >= y)

True

<br>__[문제4]__

자료형 (int, float, str, bool) 변수를 만들어보고, print()해서 결과를 확인하세요!

In [13]:
integer_var = 35
float_var = 2.55
string_var = " 아직 까지는 괜찮다!"
boolean_var = True

print("정수:", integer_var)
print("실수:", float_var)
print ("문자열:", string_var)
print ("블리언:", boolean_var)

정수: 35
실수: 2.55
문자열:  아직 까지는 괜찮다!
블리언: True

__[문제5]__

str = "야호야호야호호야호야야오햐오햐오햐오"

str을 3가지 이상의 다른 문자열 슬라이싱을 이용하여 확인해보세요!

출력 예)

처음 5글자: 야호야호야

In [19]:
str = "야호야호야호호야호야야오햐오햐오햐오"

print("뒤에서 5글자:", str[-5:])
print("2칸씩 건너뛰기:", str[::2])
print("중간 7글자:", str[3:10])

뒤에서 5글자: 오햐오햐오
2칸씩 건너뛰기: 야야야호호야햐햐햐
중간 7글자: 호야호호야호야

__[문제6]__

변수명 게임에 들어 있는 값 중 '홀'만 출력되도록 코드를 작성해 주세요

game = "홀짝홀짝홀짝"

출력 예시 : "홀홀홀"

<br>

__Tips__
- 문자열 슬라이싱을 이용해보세요 !

In [26]:
game="홀짝홀짝홀짝"

print(game[::2])

홀홀홀

__[문제7]__

변수명 전화번호에 들어 있는 번호를 모두 붙여서 출력되도록 코드를 작성해주세요.

<br>

phone = "010-1234-5678"

출력 예시 : "01012345678"

<br>

__Tips__
- split() 함수는 문자열을 특정 구분자를 기준으로 나누어 리스트로 반환합니다.

In [27]:
phone = "010-1234-5678"
print(''.join(phone.split('-')))

01012345678